@keyframes shine {
    0% {
        background-position: -200%; /* Start far left */
    }
    100% {
        background-position: 200%; /* Move far right */
    }
}

#title {
    background: linear-gradient(90deg, #8188d3, #2536EB, #8188d3); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%; 
    animation: shine 4s infinite linear; 
}
